*{
    margin:0;
    padding:0;
}
body{
    text-align: center;
    background-color: #1d3557;
}
h1{
    background-color: #14213d;
    color: #e5e5e5;
    line-height: 7rem;
    height: 7rem;
    font-size: 2rem;
}
.game-container{
    height: 15rem;
    margin-top: 2rem;
    gap: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice{
    height:15rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
img{
    height:15rem;
    width:15rem;
    /* object-fit: contain; */
    border-radius: 50%;
}
.score-board{
    margin-top: 3rem;
    display : flex;
    color:#edf6f9;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    gap: 4rem;
}
.msg{
    font-size: 3rem;
    margin-top:3rem;
     color:#edf6f9;
     display: inline;
     border-radius: 2rem;
}